<div class="header-body">
    <h1 id="logo">Сайт малышки</h1>
    <nav >
        <ul class="ul-header-menu">
            <li class="li-header-menu"> <a href="#"><span class="span-li-menu-header">Малышка</span></a></li>
            <li class="li-header-menu"> <a href="#"><span class="span-li-menu-header">я</span></a></li>
            <li class="li-header-menu"> <a href="#"><span class="span-li-menu-header">тебя</span></a></li>
            <li class="li-header-menu"> <a href="#"><span class="span-li-menu-header">очень</span></a></li>
            <li class="li-header-menu"> <a href="#"><span class="span-li-menu-header">сильно</span></a></li>
            <li class="li-header-menu"> <a href="#"><span class="span-li-menu-header">люблю!!!</span></a></li>
        </ul>
    </nav>
</div>